<h2>Books</h2>

	<div class ="table">Books</div>
	<thead>
	 	<tr>
	 		<th></th>
	 		<th>Title</th>
	 		<th>Opinion</th>
	 	</tr>
	 </thead>

	 <tbody>
	 	<tr>
		 	<tb><</tb>
		 	<tb></tb>
		 	<tb></tb>
		 </tr>
		</tbody>



